@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// == Color

// Light color
$header-color: #f7f9ff;
$white-bg: #f2f2f2;
$title-gray: #63687d;
$case-gray: #e1e4f0;
$hover-gray: #979797;

// Dark color
$white-txt: #fff;
$header-bg: #20222f;
$blue-color: #8c98c6;
$blue-bg: #1d1f29;
$case-blue: #252b42;
$hover-blue: #333a55;

// Other
$green: #1eb589;
$red: #dc414c;
$instagram: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);

// == Font
$normal: 400;
$bold: 700;
