@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// == Color

// Light color
$header-color: #f7f9ff;
$white-bg: #f2f2f2;
$title-gray: #63687d;
$case-gray: #f1f3fa;
$hover-gray: #e1e4f0;
$btn-gray: #aeb3cb;
$border: #848bab;

// Dark color
$white-txt: #fff;
$header-bg: #20222f;
$blue-color: #8c98c6;
$blue-bg: #1d1f29;
$case-blue: #252b42;
$hover-blue: #333a55;

// Other
$green: #1eb589;
$red: #dc414c;
$yt-red: #c4032b;
$blue-fb: #178ff5;
$blue-twi: #1da1f2;
$instagram: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
$btn-gradient: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);

// == Font
$normal: 400;
$bold: 700;
