.header {
  background: $header-color;
  border-radius: 0 0 20px 20px;
  height: 15.25rem;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2.25em;

  @include mq(tablet) {
    display: block;
  }
}

.title {
  h3 {
    margin: 0.25em 0 1.5em 0;
  }
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;

  @include mq(tablet) {
    border-top: 1px solid $border;

    h3 {
      margin-top: 1em;
    }

    .theme-toggle {
      margin-top: 1em;
    }
  }
}

// Switch Theme
.dark {
  background: $header-bg;
  transition: 0.4s;

  h1 {
    color: $header-color;
    transition: 0.4s;
  }

  h3 {
    color: $blue-color;
    transition: 0.4s;
  }
}
