// == Color
$light-gray: #f7f9ff;
$light-white: #f2f2f2;
$white: #fff;
$title-gray: #63687d;
$case-gray: #e1e4f0;
$hover-gray: #979797;
$top-blue: #20222f;
$title-blue: #8c98c6;
$dark-blue: #1d1f29;
$case-blue: #252b42;
$hover-blue: #333a55;

$green: #1eb589;
$red: #dc414c;
